<h1>Webpack Example</h1>

Check the console for logger output.

<%= external_asset_js 'logger' %>

<div id="color-converter1"></div>
<div id="color-converter2"></div>

<script>
  createColorConverter('Color Converter 1', 'color-converter1');
  createColorConverter('Color Converter 2', 'color-converter2');
</script>
